---
import type { PostEntry } from '../data/posts';
import { getPostPath } from '../data/posts';

interface Props {
  posts: PostEntry[];
}

const { posts } = Astro.props;
---

<ul class="post-list">
  {
    posts.map((post) => (
      <li>
        <a href={getPostPath(post)}>{post.data.title}</a>
      </li>
    ))
  }
</ul>
